body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #222222;
  background-color: #fefefe;
}

.header {
  background-color: #f8f8f8;
  border-bottom: 8px solid #262626;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10; /* This makes sure the header stays on top */
}

.content {
  display: flex;
  margin-top: 110px; 
  justify-content: center;
}

.column-container {
  max-width: 1000px;
  width: 100%;
  margin-top: 20px;
  display: flex;
}

.left {
  flex: 33%;
  padding: 20px;
  box-sizing: border-box;
}

.right {
  flex: 67%;
  padding: 20px;
  box-sizing: border-box;
}

.cv-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
