body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #222222;
  background-color: #fefefe;
}

.header {
  background-color: #f8f8f8;
  border-bottom: 8px solid #222222; 
  text-align: center;
  padding: 20px 20px 5px 20px; 
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.content {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  flex-direction: row;
}

.column-container {
  max-width: 1000px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  position: relative;
}

.left {
  flex: 33%;
  padding: 20px;
  box-sizing: border-box;
  position: sticky;
  top: 80px; /* height of the header */
}

.right {
  flex: 67%;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 33%; /* same as width of the left column */
}

.cv-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
